$white:#fff;
$black:#000;
$anchor-color:#FFB900;
$btn-color:#9099AA;
$heading:#474747;
$footer:#3F4A5C;
$bottom:#2D3542;
$nav:rgba(144,153,170,.5);
$feature-icon:("hand":'\f4c4',"diamond":'\f3a5',"ball":'\f45f');
$info-icons:("person":'\f007',"category":'\f02c',"date":'\f073');