/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 60.1%;
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.feature .feature-list, .two-column .column-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
header .logo {
  padding: 36px 0;
  text-align: center;
}
header .hamburger {
  display: block;
  cursor: pointer;
}
header .bar {
  width: 18px;
  height: 2px;
  margin: 5px;
  display: none;
  background-color: #000;
  text-indent: -9999px;
  transition: all 0.3s ease-in-out;
}
header .navber {
  padding: 7px 0;
  background-color: rgba(144, 153, 170, 0.5);
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
}
header .nav-link {
  padding: 7px;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 995px) {
  header .nav-link.active, header .nav-link:hover {
    color: #FFB900;
  }
}
header .down {
  padding: 7px 16px;
  position: relative;
}
header .down::before {
  content: "\f0d7";
  float: left;
  position: absolute;
  top: 9px;
  left: 8px;
  font-size: 7px;
  font-family: "FontAwesome";
}

/*banner section start here*/
.banner {
  padding: 174px 0;
  background: rgba(0, 0, 0, 0.4) url("https://plantillashtmlgratis.com/wp-content/themes/helium-child/vista_previa/page244/debut/assets/img/banner-slide-1.jpg") center no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}
.banner .banner-heading {
  padding: 85px 44% 0 0;
  color: #fff;
  font-size: 38px;
  font-weight: 500;
}
.banner .description {
  padding: 16px 51% 37px 0;
  color: #fff;
  font-size: 10px;
  font-family: Verdana, sans-serif;
  line-height: 1.5;
}
.banner .btn-link {
  padding: 8px 13px;
  border: 1px solid transparent;
  background-color: #9099AA;
  color: #fff;
  font-size: 10px;
  font-family: Verdana, sans-serif;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}
@media (min-width: 995px) {
  .banner .btn-link:hover {
    border-color: #9099AA;
    color: #9099AA;
    background-color: #fff;
  }
}

/*banner section end here*/
/*two column section start here*/
.two-column {
  padding: 56px 0 22px;
}
.heading {
  padding: 0 24%;
  color: #474747;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
}

.column-span {
  padding: 15px 0 72px;
  display: block;
  text-align: center;
  font-size: 12px;
}

.two-column .column-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-direction: column;
}
.two-column .column-item {
  margin-bottom: 35px;
}
.two-column .column-item:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.two-column .content {
  padding: 37px 0 51px;
  -ms-flex: 0 0 45.9%;
  flex: 0 0 45.9%;
}
.two-column figure {
  -ms-flex: 0 0 50.1%;
  flex: 0 0 50.1%;
}
.two-column .content-heading {
  color: #474747;
  font-size: 13px;
  font-weight: 600;
}
.two-column .content-description {
  padding: 23px 0;
  color: #474747;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3;
}
.view-btn {
  padding: 9px 14px;
  border: 1px solid transparent;
  background-color: #9099AA;
  color: #fff;
  font-size: 11px;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}
@media (min-width: 995px) {
  .view-btn:hover {
    border-color: #9099AA;
    background-color: #fff;
    color: #9099AA;
  }
}

/*two column section end here*/
.feature {
  padding: 54px 0 56px;
  background: rgba(0, 0, 0, 0.5) url("https://images.immediate.co.uk/production/volatile/sites/4/2009/09/GettyImages-884671854-4946bb3.jpg?quality=90&webp=true&resize=940,400") no-repeat center;
  background-size: cover;
  background-blend-mode: overlay;
  color: #fff;
}
.feature .heading,
.feature .column-span {
  color: #fff;
}
.feature .feature-list {
  padding-top: 74px;
}
.feature .feature-item {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
}
.feature .feature-heading {
  position: relative;
  font-size: 14px;
  text-align: center;
}
.feature .feature-heading::before {
  content: "";
  float: left;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 60px;
  font-family: "FontAwesome";
  -webkit-transform: translate(-50%, -143%);
  -ms-transform: translate(-50%, -143%);
  transform: translate(-50%, -143%);
}
.feature .feature-heading.hand::before {
  content: "\f4c4";
}
.feature .feature-heading.diamond::before {
  content: "\f3a5";
}
.feature .feature-heading.ball::before {
  content: "\f45f";
}
.feature .feature-description {
  padding: 13px 0 20px;
  font-size: 11px;
  text-align: center;
  line-height: 1.4;
}
.feature .feature-btn {
  text-align: center;
}
.feature .view-btn {
  border: 1px solid #fff;
  background-color: #1d2f3d;
  font-size: 10px;
  opacity: 0.9;
}
@media (min-width: 995px) {
  .feature .view-btn:hover {
    border-color: #8993A4;
    background-color: #8993A4;
    color: #fff;
  }
}

/* feature section end here*/

/*# sourceMappingURL=style.css.map */
