/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 60.1%;
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
header .logo {
  padding: 36px 0;
  text-align: center;
}
header .hamburger {
  display: block;
  cursor: pointer;
}
header .bar {
  width: 18px;
  height: 2px;
  margin: 5px;
  display: none;
  background-color: #000;
  text-indent: -9999px;
  transition: all 0.3s ease-in-out;
}
header .navber {
  padding: 7px 0;
  background-color: rgba(144, 153, 170, 0.5);
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
}
header .nav-link {
  padding: 7px;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 995px) {
  header .nav-link.active, header .nav-link:hover {
    color: #FFB900;
  }
}
header .down {
  padding: 7px 16px;
  position: relative;
}
header .down::before {
  content: "\f0d7";
  float: left;
  position: absolute;
  top: 9px;
  left: 8px;
  font-size: 7px;
  font-family: "FontAwesome";
}

/*banner section start here*/
.banner {
  padding: 174px 0;
  background: rgba(0, 0, 0, 0.4) url("https://plantillashtmlgratis.com/wp-content/themes/helium-child/vista_previa/page244/debut/assets/img/banner-slide-1.jpg") center no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}
.banner .banner-heading {
  padding: 85px 44% 0 0;
  color: #fff;
  font-size: 38px;
  font-weight: 500;
}
.banner .description {
  padding: 16px 51% 37px 0;
  color: #fff;
  font-size: 10px;
  font-family: Verdana, sans-serif;
  line-height: 1.5;
}
.banner .btn-link {
  padding: 8px 13px;
  border: 1px solid transparent;
  background-color: #9099AA;
  color: #fff;
  font-size: 10px;
  font-family: Verdana, sans-serif;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}
@media (min-width: 995px) {
  .banner .btn-link:hover {
    border-color: #9099AA;
    color: #9099AA;
    background-color: #fff;
  }
}

/*banner section end here*/

/*# sourceMappingURL=style.css.map */
