/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 60.1%;
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (max-width: 1200px) {
  .wrapper {
    width: 70%;
  }
}
@media (max-width: 995px) {
  .wrapper {
    width: 80%;
  }
}
footer .copy-right .wrapper, footer .footer-bottom .footer-list, .info .icon-list, .info .info-list, .team .team-list, .feature .feature-list, .two-column .column-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
@media (max-width: 768px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
header .logo {
  padding: 36px 0;
  text-align: center;
}
@media (max-width: 768px) {
  header .logo {
    padding: 15px 3%;
  }
}
header .hamburger {
  display: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  header .hamburger {
    display: block;
    position: inherit;
    z-index: 10;
    top: 30%;
    right: 2%;
  }
  header .hamburger.active .bar2 {
    display: none;
  }
  header .hamburger.active .bar1 {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  header .hamburger.active .bar3 {
    -webkit-transform: translateY(1px) rotate(-45deg);
    -ms-transform: translateY(1px) rotate(-45deg);
    transform: translateY(1px) rotate(-45deg);
  }
}
header .bar {
  width: 18px;
  height: 2px;
  margin: 5px;
  display: block;
  background-color: #fff;
  text-indent: -9999px;
  transition: all 0.3s ease-in-out;
}
header .navber {
  padding: 7px 0;
  background-color: rgba(144, 153, 170, 0.5);
}
@media (max-width: 768px) {
  header .navber {
    width: 100%;
    height: 100vh;
    position: inherit;
    z-index: 5;
    top: 0;
    right: 100%;
    background-color: #9099AA;
    transition: all 0.3s ease-in-out;
  }
  header .navber.active {
    right: 0;
  }
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 768px) {
  header .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
    gap: 25px;
  }
}
header .nav-link {
  padding: 7px;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 995px) {
  header .nav-link.active, header .nav-link:hover {
    color: #FFB900;
  }
}
@media (max-width: 768px) {
  header .nav-link {
    line-height: 3.5;
  }
}
header .down {
  padding: 7px 16px;
  position: relative;
}
header .down::before {
  content: "\f0d7";
  float: left;
  position: absolute;
  top: 9px;
  left: 8px;
  font-size: 7px;
  font-family: "FontAwesome";
}

/*banner section start here*/
.banner {
  padding: 174px 0;
  background: rgba(0, 0, 0, 0.4) url("https://plantillashtmlgratis.com/wp-content/themes/helium-child/vista_previa/page244/debut/assets/img/banner-slide-1.jpg") center no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}
@media (max-width: 768px) {
  .banner {
    padding: 127px 0;
  }
}
@media (max-width: 480px) {
  .banner {
    padding: 100px 0 80px;
  }
}
.banner .banner-heading {
  padding: 85px 44% 0 0;
  color: #fff;
  font-size: 38px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .banner .banner-heading {
    padding: 40px 44% 0 0;
  }
}
.banner .description {
  padding: 16px 51% 37px 0;
  color: #fff;
  font-size: 10px;
  font-family: Verdana, sans-serif;
  line-height: 1.5;
}
@media (max-width: 480px) {
  .banner .description {
    padding: 16px 0 37px 0;
  }
}
.banner .btn-link {
  padding: 8px 13px;
  border: 1px solid transparent;
  background-color: #9099AA;
  color: #fff;
  font-size: 10px;
  font-family: Verdana, sans-serif;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}
@media (min-width: 995px) {
  .banner .btn-link:hover {
    border-color: #9099AA;
    color: #9099AA;
    background-color: #fff;
  }
}

/*banner section end here*/
/*two column section start here*/
.two-column {
  padding: 56px 0 22px;
}
.heading {
  padding: 0 21%;
  color: #474747;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
}
@media (max-width: 995px) {
  .heading {
    font-size: 27px;
  }
}
@media (max-width: 768px) {
  .heading {
    padding: 0 14%;
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .heading {
    padding: 0;
  }
}

.column-span {
  padding: 15px 0 72px;
  display: block;
  text-align: center;
  font-size: 12px;
}
@media (max-width: 1200px) {
  .column-span {
    padding-bottom: 60px;
  }
}
@media (max-width: 995px) {
  .column-span {
    padding-bottom: 50px;
  }
}

.two-column .column-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-direction: column;
}
.two-column .column-item {
  margin-bottom: 35px;
}
@media (max-width: 768px) {
  .two-column .column-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
  }
}
.two-column .column-item:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 768px) {
  .two-column .column-item:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
  }
}
.two-column .content {
  padding: 37px 0 51px;
  -ms-flex: 0 0 45.9%;
  flex: 0 0 45.9%;
}
@media (max-width: 995px) {
  .two-column .content {
    padding: 6px 0px;
  }
}
@media (max-width: 995px) and (max-width: 995px) {
  .two-column .content {
    -ms-flex: 0 0 38.9%;
    flex: 0 0 38.9%;
    padding: 15px 0px;
  }
}
.two-column figure {
  -ms-flex: 0 0 50.1%;
  flex: 0 0 50.1%;
}
@media (max-width: 995px) {
  .two-column figure {
    -ms-flex: 0 0 55.1%;
    flex: 0 0 55.1%;
  }
}
.two-column .content-heading {
  color: #474747;
  font-size: 13px;
  font-weight: 600;
}
.two-column .content-description {
  padding: 23px 0;
  color: #474747;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3;
}
.view-btn {
  padding: 9px 14px;
  border: 1px solid transparent;
  background-color: #9099AA;
  color: #fff;
  font-size: 11px;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}
@media (min-width: 995px) {
  .view-btn:hover {
    border-color: #9099AA;
    background-color: #fff;
    color: #9099AA;
  }
}

/*two column section end here*/
/* feature section start here*/
.feature {
  padding: 54px 0 56px;
  background: rgba(0, 0, 0, 0.5) url("https://images.immediate.co.uk/production/volatile/sites/4/2009/09/GettyImages-884671854-4946bb3.jpg?quality=90&webp=true&resize=940,400") no-repeat center;
  background-size: cover;
  background-blend-mode: overlay;
  color: #fff;
}
@media (max-width: 768px) {
  .feature {
    padding: 54px 0 0 0;
  }
}
.feature .heading,
.feature .column-span {
  color: #fff;
}
.feature .feature-list {
  padding-top: 74px;
}
@media (max-width: 768px) {
  .feature .feature-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
  }
}
.feature .feature-item {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
}
@media (max-width: 768px) {
  .feature .feature-item {
    margin-bottom: 130px;
  }
}
.feature .feature-heading {
  position: relative;
  font-size: 14px;
  text-align: center;
}
.feature .feature-heading::before {
  content: "";
  float: left;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 60px;
  font-family: "FontAwesome";
  -webkit-transform: translate(-50%, -143%);
  -ms-transform: translate(-50%, -143%);
  transform: translate(-50%, -143%);
}
.feature .feature-heading.hand::before {
  content: "\f4c4";
}
.feature .feature-heading.diamond::before {
  content: "\f3a5";
}
.feature .feature-heading.ball::before {
  content: "\f45f";
}
.feature .feature-description {
  padding: 13px 0 20px;
  font-size: 11px;
  text-align: center;
  line-height: 1.4;
}
.feature .feature-btn {
  text-align: center;
}
.feature .view-btn {
  border: 1px solid #fff;
  background-color: #1d2f3d;
  font-size: 10px;
  opacity: 0.9;
}
@media (min-width: 995px) {
  .feature .view-btn:hover {
    border-color: #8993A4;
    background-color: #8993A4;
    color: #fff;
  }
}

/* feature section end here*/
/* team section start here*/
.team {
  padding: 57px 0;
  background-color: #efefef;
}
@media (max-width: 480px) {
  .team {
    padding: 53px 0 40px;
  }
}
@media (max-width: 768px) {
  .team .team-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
  }
}
.team .team-item {
  -ms-flex-preferred-size: 22.2%;
  flex-basis: 22.2%;
  background-color: #efefef;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .team .team-item {
    margin-bottom: 30px;
  }
}
.team .team-item figure {
  padding: 22px 12.9% 19px 12.9%;
}
.team .team-item figure img {
  border-radius: 50%;
}
.team .team-item .caption {
  padding-top: 23px;
}
.team .title {
  font-size: 15px;
  text-align: center;
}
.team .job {
  display: block;
  font-size: 9px;
  text-align: center;
}

/* team section end here*/
/*info section start here*/
.info {
  padding: 53px 0;
}
@media (max-width: 768px) {
  .info {
    padding: 53px 0 30px;
  }
}
.info .column-span {
  padding-bottom: 74px;
}
@media (max-width: 1200px) {
  .info .column-span {
    padding-bottom: 60px;
  }
}
@media (max-width: 995px) {
  .info .info-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .info .info-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
  }
}
.info .info-item {
  padding: 20px 2.8% 22px 2.8%;
  -ms-flex-preferred-size: 30.8%;
  flex-basis: 30.8%;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
@media (max-width: 995px) {
  .info .info-item {
    margin-bottom: 30px;
    -ms-flex-preferred-size: 46.8%;
    flex-basis: 46.8%;
  }
}
.info .info-heading {
  padding-bottom: 13px;
  color: #9099aa;
  font-size: 14px;
}
.info .info-description {
  color: #474744;
  font-size: 11px;
  line-height: 1.6;
}
.info .icon-list {
  padding-top: 16px;
}
.info .icons {
  margin-left: 14px;
  position: relative;
  color: #9099aa;
  font-size: 8px;
}
.info .icons::before {
  content: "";
  float: left;
  position: absolute;
  top: 0;
  left: -14px;
  color: #474747;
  font-size: 8px;
  font-family: "FontAwesome";
}
.info .icons.person::before {
  content: "\f007";
}
.info .icons.category::before {
  content: "\f02c";
}
.info .icons.date::before {
  content: "\f073";
}
@media (max-width: 1280px) {
  .info .icons::before {
    left: -12px;
  }
}
@media (max-width: 995px) {
  .info .icons {
    -ms-flex-preferred-size: 19%;
    flex-basis: 19%;
  }
}
@media (max-width: 480px) {
  .info .icons {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
  }
}
.info .person::after,
.info .category::after {
  content: "|";
  float: left;
  position: absolute;
  top: 0;
  right: -9px;
}
@media (max-width: 1280px) {
  .info .person::after,
  .info .category::after {
    right: -5px;
  }
}
@media (max-width: 995px) {
  .info .person::after,
  .info .category::after {
    right: -14px;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}
.info .category {
  margin-left: 14px;
}
.info .date {
  margin-right: 7px;
  color: #474747;
}
.info .info-btn {
  padding-top: 25px;
}
.info .view-btn {
  font-size: 10px;
}

/*info section end here*/
/*contact section start here*/
.contact {
  padding: 21px 0;
  background: url("https://images.unsplash.com/photo-1603346996604-cd77fc859e1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80") no-repeat center;
  background-size: cover;
}
@media (max-width: 1200px) {
  .contact {
    padding: 40px 0;
  }
}
.contact .wrapper {
  width: 30%;
  padding: 22px 1.5% 20px 1.5%;
  background-color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 1200px) {
  .contact .wrapper {
    width: 40%;
    padding: 30px 2.5% 30px 2.5%;
  }
}
@media (max-width: 995px) {
  .contact .wrapper {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .contact .wrapper {
    width: 70%;
  }
}
@media (max-width: 480px) {
  .contact .wrapper {
    width: 85%;
  }
}
.contact .contact-heading {
  color: #474747;
  font-size: 14px;
  text-align: center;
}
.contact .contact-span {
  padding: 16px 0 23px;
  display: block;
  color: #474747;
  font-size: 10px;
  font-family: Verdana;
  line-height: 1.4;
  text-align: center;
}
.contact .input-group {
  width: 100%;
  margin-bottom: 10px;
}
.contact .input {
  padding: 6px 3.7%;
  width: 100%;
  border: 1px solid #d7d7d7;
  font-size: 11px;
  outline: none;
}
.contact .form-ctrl {
  text-align: center;
}
.contact .sub-btn {
  padding: 6px 3.4%;
  border: 1px solid #9099AA;
  background-color: #9099AA;
  color: #fff;
  font-size: 11px;
  outline: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 995px) {
  .contact .sub-btn:hover {
    border-color: #9099AA;
    background-color: #fff;
    color: #9099AA;
  }
}

/*contact section end here*/
/* scroll to top start her*/
.container {
  position: relative;
}

.scroll-up {
  display: none;
  position: fixed;
  right: 1%;
  bottom: 0.5%;
}
.scroll-up.scroll-show {
  display: block;
}
@media (max-width: 480px) {
  .scroll-up {
    right: 2%;
  }
}

.scroll-too {
  display: block;
  text-indent: -9999px;
  cursor: pointer;
}
.scroll-too::before {
  content: "\f077";
  width: 27px;
  height: 27px;
  float: left;
  border: 1px solid #5E6776;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #5E6776;
  color: #9198A3;
  font-size: 14px;
  font-family: "FontAwesome";
  text-indent: 0;
}
@media (min-width: 995px) {
  .scroll-too {
    transition: all 0.3s ease-in-out;
  }
  .scroll-too:hover::before {
    border-color: #9099AA;
    background-color: #fff;
    color: #9099AA;
  }
}

html.hidden {
  overflow-y: hidden;
}

/* scroll to top end her*/
/* footer start here */
footer {
  background-color: #3F4A5C;
}
footer .upper-footer {
  padding: 57px 0 36px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1019607843);
}
footer .upper-footer .footer-logo {
  text-align: center;
}
footer .upper-footer .footer-logo-link {
  margin-bottom: 16px;
  color: #fff;
  font-size: 21px;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
}
footer .upper-footer .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
footer .upper-footer .icon {
  text-indent: -9999px;
}
@media (min-width: 995px) {
  footer .upper-footer .icon:hover::before {
    color: #FFB900;
  }
}
footer .upper-footer .icon::before {
  content: "";
  width: 26px;
  height: 26px;
  float: left;
  border: 1px solid #29313F;
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #29313F;
  color: #9399A7;
  font-size: 14px;
  font-family: "FontAwesome";
  text-indent: 0;
  transition: all 0.3s ease-in-out;
}
footer .upper-footer .icon.dribble::before {
  content: "\f17d";
}
footer .upper-footer .icon.facebook::before {
  content: "\f09a";
}
footer .upper-footer .icon.google::before {
  content: "\f0d5";
}
footer .upper-footer .icon.linkedin::before {
  content: "\f08c";
}
footer .upper-footer .icon.twitter::before {
  content: "\f099";
}
footer .upper-footer .icon.vk::before {
  content: "\f189";
}
footer .upper-footer .footer-span {
  display: block;
  color: #dfdfdf;
  font-size: 10px;
  font-family: Verdana;
  text-align: center;
}
footer .footer-bottom {
  padding: 38px 0 52px;
}
@media (max-width: 995px) {
  footer .footer-bottom .footer-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (max-width: 995px) and (max-width: 480px) {
  footer .footer-bottom .footer-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
  }
}
footer .footer-bottom .footer-heading {
  margin-bottom: 30px;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
}
footer .footer-bottom .footer-item {
  -ms-flex-preferred-size: 22%;
  flex-basis: 22%;
}
@media (max-width: 995px) {
  footer .footer-bottom .footer-item {
    margin-bottom: 20px;
    -ms-flex-preferred-size: 43%;
    flex-basis: 43%;
  }
}
@media (max-width: 768px) {
  footer .footer-bottom .footer-item {
    margin-bottom: 35px;
  }
}
footer .footer-bottom .contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-direction: column;
}
footer .footer-bottom .contact-link {
  margin-left: 16%;
  position: relative;
  color: #dfdfdf;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 995px) {
  footer .footer-bottom .contact-link:hover {
    color: #FFB900;
  }
}
footer .footer-bottom .contact-link::before {
  content: "";
  float: left;
  position: absolute;
  top: 0;
  left: -29px;
  font-family: "FontAwesome";
}
footer .footer-bottom .contact-link.location::before {
  content: "\f3c5";
}
footer .footer-bottom .contact-link.call::before {
  content: "\f879";
}
footer .footer-bottom .contact-link.email::before {
  content: "\f0e0";
}
footer .footer-bottom .contact-link.time::before {
  content: "\f017";
}
@media (min-width: 995px) {
  footer .footer-bottom .time,
  footer .footer-bottom .other,
  footer .footer-bottom .location {
    pointer-events: none;
  }
}
footer .footer-bottom .contact-item,
footer .footer-bottom .present-item {
  display: block;
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1019607843);
}
footer .footer-bottom .contact-item:last-child,
footer .footer-bottom .present-item:last-child {
  border: none;
}
footer .footer-bottom .other {
  display: block;
}
footer .footer-bottom .location,
footer .footer-bottom .time {
  line-height: 1.4;
}
footer .footer-bottom .present-link {
  color: #9099aa;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 995px) {
  footer .footer-bottom .present-link:hover {
    color: #FFB900;
  }
}
footer .footer-bottom .upper-item {
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1019607843);
}
footer .footer-bottom .item-description,
footer .footer-bottom .item-span {
  color: #9099aa;
  font-size: 11px;
  line-height: 1.5;
}
footer .footer-bottom .item-span {
  padding: 11px 0;
  display: block;
  color: #dfdfdf;
}
footer .footer-bottom .gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-wrap: wrap;
}
footer .footer-bottom .gallery-item {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  margin: 0 3% 8px 0;
}
footer .footer-bottom .image-link {
  transition: all 0.3s ease-in-out;
}
@media (min-width: 995px) {
  footer .footer-bottom .image-link:hover {
    opacity: 0.7;
  }
}
@media (max-width: 995px) {
  footer .footer-bottom .image-link {
    width: 100%;
  }
}
footer .copy-right {
  padding: 17px 0 115px;
  background-color: #2c3541;
}
@media (max-width: 768px) {
  footer .copy-right .wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
  }
}
footer .copy-right .wrapper .copy {
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  footer .copy-right .wrapper .copy {
    font-size: 9px;
  }
}
footer .copy-right .copy,
footer .copy-right .copy-span,
footer .copy-right .design {
  color: #5F6F89;
  font-size: 10px;
  font-family: Verdana;
}
footer .copy-right .design {
  transition: all 0.3s ease-in-out;
}
@media (min-width: 995px) {
  footer .copy-right .design:hover {
    color: #FFB900;
  }
}

/* footer end here */

/*# sourceMappingURL=style.css.map */
